.code-example {
    margin: 32px;
    position: relative;
}
.c-ex-heading {
    position: absolute;
    top: -11px;
    left: 6px;
    background: white;
    padding: 0 10px;
}
.c-ex-body {
    border: solid 1px;
    padding: 16px;
}